@media (min-width: 1659px) {
    .classm1 {
      padding:  200px;
      padding-top: 100px;
      padding-bottom: 100px;
      
    }
    .class{
      padding-left: 180px;
    }
    .book{
      padding-bottom: 250px;
    }
  }
  @media (min-width: 1850px) {
    .classm1 {
      padding:  240px;
      padding-top: 100px;
      padding-bottom: 100px;
      
    }
    .class{
      padding-left: 220px;
    }
    .book{
      padding-bottom: 250px;
    }
  }
  @media (min-width: 1850px) {
    .classm1 {
      padding:   280px;
      padding-top: 100px;
      padding-bottom: 100px;
      
    }
    .class{
      padding-left: 260px;
    }
    .call_us{
      padding-bottom: 176px;
    }
    .book{
      padding-bottom: 250px;
    }
  }
  
  
  
  
      
  @media (max-width: 1513px) {
      .content-box h3 {
  
  font-size: 32px;
  
  letter-spacing: 0.32px;
  margin: 0;
   
  }
  .class2 a img{
    height: 64px;
  }
  .your-full-name {
      margin-bottom: 8px;
  }
  
  
  .toggle-button {
       padding: 13px;
       padding-left: 0;
      padding-top: 9px;
      padding-bottom: 16px;}
       
  
  
  
  .content-box p {
  
  font-size: 20px;
  margin: 0px;
      margin-top: 16px;
      
  
  letter-spacing: 0.24px;
  }
  .content-box p strong{
  
  font-size: 20px;
  
  letter-spacing: 0.2px;
  }
  .contact-info h3 {
  
  font-size: 20px;
  
  letter-spacing: -0.4px;
  }
  .contact-info p {
  
  font-size: 16px;
  margin-top: 4px;
  margin-bottom: 16px;
  
  }
  .email-link {
  font-size: 20px;
  ;
  }
  input#name{
    height: 44px;
  }
  input#phone_number{
    height: 44px;
  }
  input#email{
    height: 44px;
  }
  input#subject{
    height: 44px;
  }
  textarea#Message{
    height: 240px;
  }
  .horizontal-button button {
    padding-top: 11px;
    padding-bottom: 11px;
    padding-right: 32px;
    padding-left: 32px;
    font-size: 17px;
    
    font-weight: 500;
    
    letter-spacing: -0.32px;
  }
  .toggle-button label {
    
    padding: 8px;
    padding-left: 16px;
    padding-right: 16px;
    
  }
  .your-full-name {
    font-size: 16px;
    letter-spacing: -0.32px;
    margin-bottom: 8px;
  }
  
  
  .select h3 {
    font-size: 16px;
    letter-spacing: -0.32px;
    padding-bottom: 8px;
  }
  .classm1{
    padding: 280px;
    padding-top: 39px;
    padding-bottom: 56px;
  }
  .class{
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 280px;
    padding-right: 280px;
  }
  .class3 b{
    font-size: 28px;
    letter-spacing: -0.56px;
  }
  .digital{
    font-size: 20px;
    letter-spacing: -0.4px;
  }
  
  .chat-us {
      margin-top: 40px;
      margin-bottom: 40px;
  }
  .book{
      padding: 32px;
  }
  .call_us {
      display: flex;
      padding-bottom: 247px;
  }
  }
  @media (max-width: 1372px){
      .call_us {
          padding-bottom: 227px;
      }
      .classm1{
          padding-left: 160px;
      padding-right: 160px;
  }
  .class{
      padding-left: 160px;
      padding-right: 160px;
  }
  
  }
  
  @media (max-width: 1316px){
      .call_us {
      
      padding-bottom: 200px;
  }
  }
  @media (max-width: 1311px){
      .call_us {
      
      padding-bottom: 247px;
  }
  }
  
  @media (max-width: 1132px){
      .call_us {
      
      padding-bottom: 292px;
  }
  }
  @media (max-width: 1117px){
      .call_us {
      
      padding-bottom: 267px;
  }
  }
  @media (max-width: 1088px){
      .call_us {
      
      padding-bottom: 242px;
  }
  }
  @media (max-width: 1067px){
      .call_us {
      
      padding-bottom: 215px;
  }
  }
  @media (max-width: 1057px){
      .call_us {
      
      padding-bottom: 191px;
  }
  }
  @media (max-width: 1032px){
      .class{
          padding-left: 80px;
          padding-right: 80px;
      }
      .classm1{
          padding-left: 80px;
          padding-right: 80px;
      }
      .call_us{
          padding-bottom: 247px;
      }
  }
  @media (max-width: 972px){
      .call_us {
      
      padding-bottom: 292px;
  }
  }
  @media (max-width: 1032px){
      .class{
          padding-left: 80px;
          padding-right: 80px;
      }
      .classm1{
          padding-left: 50px;
          padding-right: 50px;
      }
      .call_us{
          padding-bottom: 248px;
      }
  }
  @media (max-width: 912px){
      .call_us {
      
      padding-bottom: 292px;
  }
  }
  @media (max-width: 897px){
      .call_us {
      
      padding-bottom: 268px;
  }
  }
  @media (max-width: 868px){
      .call_us {
      
      padding-bottom: 242px;
  }
  }
  @media (max-width: 847px){
      .call_us {
      
      padding-bottom: 216px;
  }
  }
  @media (max-width: 837px){
     .subclassm1{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      flex-wrap: wrap;
      align-content: space-around;
  }
  .boook{
      width: 68%;
      margin-bottom: 24px;
  }
  .form{
      width: 77%;
  }
  .call_us {
      
      padding-bottom: 35px;
  }
  }
  /* for phone  */
  @media (max-width: 550px){
      .class3{
          display: none;
      }
      .class{
          padding-top: 12px;
          padding-bottom: 12px;
          padding-left: 16px;
  
      }
      .classm1{
          padding-top: 24px;
          padding-left: 12px;
          padding-right: 12px;
      }
      .boook{
          padding: 16px;
          width: 92%;
      }
      .form{
          width: 98%;
      }
      .content-box h3 {
  
  font-size: 24px;
  
  letter-spacing: 0.24px;
  
  margin: 0;
  padding-right: 70px;
   
  }
  .class2 a img{
    height: 64px;
  }
  .your-full-name {
      margin-bottom: 8px;
  }
  
  
  .toggle-button {
       padding: 13px;
       padding-left: 0;
      padding-top: 9px;
      padding-bottom: 16px;}
       
  
  
  
  .content-box p {
  
  font-size: 16px;
  margin: 0px;
      margin-top: 16px;
      font-weight: 400;
  
  letter-spacing: 0.16px;
  }
  .content-box p strong{
  
  font-size: 16px;
  font-weight: 900;
  letter-spacing: 0.16px;
  }
  .contact-info h3 {
  
  font-size: 20px;
  
  letter-spacing: -0.4px;
  }
  .contact-info p {
  
  font-size: 16px;
  margin-top: 4px;
  margin-bottom: 16px;
  
  }
  .email-link {
  font-size: 16px;
  
  }
  .class2 a img{
    height: 40px;
  }
  
  
  
  }
  /* for phone */
  @media (max-width: 550px){
    .class3{
        display: none;
    }
    .class{
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 16px;

    }
    .classm1{
        padding-top: 24px;
        padding-left: 12px;
        padding-right: 12px;
    }
    .boook{
        padding: 16px;
        width: 92%;
    }
    .form{
        width: 98%;
    }
    .content-box h3 {

font-size: 24px;

letter-spacing: 0.24px;

margin: 0;
padding-right: 70px;
 
}
.class2 a img{
  height: 64px;
}
.your-full-name {
    margin-bottom: 8px;
}


.toggle-button {
     padding: 13px;
     padding-left: 0;
    padding-top: 9px;
    padding-bottom: 16px;}
     



.content-box p {

font-size: 16px;
margin: 0px;
    margin-top: 16px;
    font-weight: 400;

letter-spacing: 0.16px;
}
.content-box p strong{

font-size: 16px;
font-weight: 900;
letter-spacing: 0.16px;
}
.contact-info h3 {

font-size: 20px;

letter-spacing: -0.4px;
}
.contact-info p {

font-size: 16px;
margin-top: 4px;
margin-bottom: 16px;

}
.email-link {
font-size: 16px;

}
.class2 a img{
  height: 40px;
}



} 